@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = null;
}

@{
    <!DOCTYPE html>
    <!--
    Template Name: Capstone Project, Summer,2020
    Author: Group B

    -->
    <html lang="en">
    <head>

        <!-- Webpage Title -->
        <title>University B, Group Project</title>

        <!-- Meta Information -->
        <meta name="author" content="Group B">
        <meta name="description" content="University B, Group Project, Capstone Class">


        <!-- To ensure proper rendering and touch zooming in mobile phones -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CDN for Font Awesome Icons -->
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">

        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

        <!-- CDN for Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Fira+Code|Ubuntu:400,600|Dancing+Script:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

        <!-- Bootstrap (CSS) -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- "Animate" Plugin to get Animation (But animation will start as soon as page loads) -->
        <link rel="stylesheet" type="text/css" href="~/styles/animate.min.css">
        <!-- WOW Plugin to Start Animation on Scroll -->
        <script type="text/javascript" src="~/scripts/wow.min.js"></script>
        <!-- Start WOW() service -->
        <script type="text/javascript">new WOW().init();</script>

        <!-- External CSS Stylesheet -->
        <link href="~/styles/layout.css" rel="stylesheet" type="text/css">

        <link rel="icon" href="~/favicon.ico">

        <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
        <link rel="stylesheet" href="~/css/animate.css">
                                     
        <link rel="stylesheet" href="~/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/css/magnific-popup.css">
                                     
        <link rel="stylesheet" href="~/css/aos.css">
                                     
        <link rel="stylesheet" href="~/css/ionicons.min.css">
                                     
        <link rel="stylesheet" href="~/css/flaticon.css">
        <link rel="stylesheet" href="~/css/icomoon.css">
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/styles/styleCon.css">

    </head>
    <body>


        <!-- Additional Menu Link and Social Icons-->

        <div class="wrapper border" id="home">

            <div class="container">


                <nav class="navbar fixed-top navbar-expand-md  scrolling-navbar  p-3">

                    <div class="collapse navbar-collapse justify-content-center"
                         id="secondaryNavbar">

                        <!--Links(left side) -->

                        <ul class="navbar-nav">

                            <!--<img src="favicon2.ico" class ="img-fav" alt="University Logo">-->

                            <img src="~/gallery/Georgia3.PNG" class="img-fav" alt="University Logo">
                            <li class="nav-item active bg-danger ">
                                <a href="../home/index" class="nav-link">
                                    <p class="m-0"> <strong>Home</strong></p>

                                </a>


                            </li>

                            <!--about-->



                            <li class="nav-item px-2">
                                <a href="../home/about" class="nav-link">
                                    <p class="m-0"> <strong>About GBU</strong></p>

                                </a>


                            </li>

                            <!--faq-->
                            <li class="nav-item px-2">
                                <a href="../home/faq" class="nav-link">
                                    <p class="m-0"> <strong>F.A.Q</strong></p>

                                </a>


                            </li>

                            <!--  contact us       -->
                            <li class="nav-item px-2">
                                <a href="../home/contact" class="nav-link">
                                    <p class="m-0"> <strong>Contact Us</strong></p>

                                </a>


                            </li>




                        </ul>





                        <!--Social Icons (Right Side)-->

                        <ul class="d-flex social-icon">

                            <li>
                                <a href="https://www.facebook.com" title="facebook" target="_blank" class="faicon-facebook rounded-circle ">

                                    <i class="fab fa-facebook "> </i>


                                </a>
                            </li>


                            <li>
                                <a href="https://twitter.com/GroupBUniversi1" title="twitter" target="_blank" class="faicon-twitter rounded-circle">

                                    <i class="fab fa-twitter"> </i>


                                </a>
                            </li>

                            <li>
                                <a href="https://www.instagram.com/groupbuniversity" title="instagram" target="_blank" class="faicon-instagram rounded-circle">

                                    <i class="fab fa-instagram"> </i>


                                </a>
                            </li>

                            <li>
                                <a href="https://www.linkedin.com" title="linkedin" target="_blank" class="faicon-linkedin rounded-circle">

                                    <i class="fab fa-linkedin"> </i>


                                </a>
                            </li>

                            <li>
                                <a href="https://www.youtube.com" title="youtube" target="_blank" class="faicon-youtube rounded-circle">

                                    <i class="fab fa-youtube"> </i>


                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>

            </div>

        </div>

        <!--Header for Logo/text-->

        <div class="wrapper py-0 px-5 text-success bg-white" id="header">
            <header class="d-flex flex-row justify-content-between">



                <a class="navbar-brand" href="#">
                    <img src="~/gallery/Georgia3.PNG" class="img-fluid" alt="University Logo">
                </a>



                <div class="call-to-action">
                    <a id="header-call-to-action" class="cap-button" href="../home/Apply" title="Apply" target="_blank">Apply</a>
                </div>
            </header>


        </div>



        <!--Main Navigation Bar(menu Bar)-->

        <div class="wrapper">

            <nav class="navbar sticky-navbar navbar-expand-md navbar-dark scrolling-navbar bg-secondary p-0" id="mainNavbar">


                <!--Navbar Logo-->
                <!--Collapse Button to replace links below 992px wide-->

                <button class="navbar-toggler my-2 p-2 " type="button" data-toggle="collapse"
                        data-target="#mainNavbarContent">
                    <span class="navbar-toggler-icon bg-success"></span><strong>Menu</strong>

                </button>


                <!--
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                  </button>

                 -->
                <!--Navigation Links-->


                <div class="collapse navbar-collapse justify-content-around" id="mainNavbarContent">





                    <!--Align on Left-->

                    <ul class="navbar-nav ">

                        <li class="nav-item">
                            <a href="../home/index" class="nav-link px-3 active"><strong>HOME</strong><span class="sr-only">(current)</span></a>

                        </li>




                        <!--Link with DropDown -->


                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle px-3" id="navbarDropdpwn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <strong>
                                    Admissions
                                </strong>
                            </a>


                            <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdpwn">
                                <a href="../home/Apply" class="dropdown-item">Apply Online</a>
                                <a href="../home/financialAid" class="dropdown-item">Financial Aid</a>


                            </div>
                        </li>




                        <li class="nav-item dropdown">
                            <a href="academics.html" class="nav-link dropdown-toggle px-3" id="navbarDropdpwn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Academics</strong></a>


                            <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdpwn">


                                <a href="../home/academics" class="dropdown-item">Academic Departments</a>
                                <a href="../home/services" class="dropdown-item">Student Services</a>

                            </div>
                        </li>



                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle px-3" id="navbarDropdpwn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Campus Life</strong></a>


                            <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdpwn">
                                <a href="../home/athletics" class="dropdown-item">Athletics</a>
                                <a href="../home/events" class="dropdown-item">Events</a>


                            </div>
                        </li>


                        <li class="nav-item dropdown">
                            <a href="../home/about" class="nav-link dropdown-toggle px-3" id="navbarDropdpwn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>About Us</strong></a>


                            <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdpwn">
                                <a href="../home/about" class="dropdown-item">About GBU</a>
                            </div>
                        </li>


                    </ul>


                    <!--Align on Right-->

                    <li class="nav-item">
                        <a href="../home/login" class="nav-link bg-success  text-white px-3" role="button" aria-haspopup="true" aria-expanded="false"><strong>Login</strong></a>

                    </li>

                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control  mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-info btn-lg my-2 my-sm-0" type="submit">Search</button>
                    </form>


                </div>




            </nav>



        </div>





        <!--Carousel section starts here-->

        <section class="home-slider owl-carousel">

            <div class="slider-item" style="background-image:url(../gallery/img1cropped.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                        <div class="col-md-6 ftco-animate">

                            <h1 class="mb-4">Welcome to Georgia Brooks University</h1>

                            <p>“At Georgia Brooks, we teach the best scientists, CEOs, writers and cooks!”</p>
                            <a href="../home/contact" class="btn btn-primary px-4 py-3 mt-3">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-item" style="background-image:url(../img/bg_2.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                        <div class="col-md-6 ftco-animate">

                            <h1 class="mb-4">Welcome to Georgia Brooks University</h1>
                            <p>“At Georgia Brooks, we teach the best scientists, CEOs, writers and cooks!”</p>
                            <p><a href="../home/contact" class="btn btn-primary px-4 py-3 mt-3">Contact Us</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item" style="background-image:url(../img/bg_3.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                        <div class="col-md-6 ftco-animate">

                            <h1 class="mb-4">Welcome to Georgia Brooks University</h1>
                            <p>“At Georgia Brooks, we teach the best scientists, CEOs, writers and cooks!”</p>
                            <p><a href="../home/contact" class="btn btn-primary px-4 py-3 mt-3">Contact Us</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- scroll down-->

        <div class="sections5">
            <div id="section05" class="demo">
                <a href="#majors"><span></span>Scroll</a>
            </div>

        </div>





        <!--sections-->


        <div class="site-section courses-title" id="majors">
            <section class="ftco-section"> </section>

            <!-- scroll down-->

            <div class="sections5">
                <div id="section05" class="demo">
                    <a href="#page2"><span></span>Scroll</a>
                </div>

            </div>
            <div class="container-fluid px-4">
                <div class="row justify-content-center mb-5 pb-2">
                    <div class="col-md-8 text-center heading-section ftco-animate">
                        <h2 class="mb-4"><span>Our</span> Departments</h2>
                        <p>Computer Science ● Business ● Culinary Arts ●  Accounting ●  Spanish ●  Criminal Justice ●  Marketing ● Engineering</p>
                    </div>
                </div>
                <hr>



                <section class="ftco-section">
                    <div class="container-fluid px-4">
                        <div class="row">

                            <div class="col-md-3 course ftco-animate">
                                <div class="img" style="background-image: url(../gallery/GBU%20Computer%20Science%20..png);"></div>
                                <div class="text pt-4">
                                    <p class="meta d-flex">
                                        <span><i class="icon-user mr-2"></i>Ms.Georgina Brooks</span>
                                        <span><i class="icon-table mr-2"></i>25 seats</span>
                                        <span><i class="icon-calendar mr-2"></i>4 Years</span>
                                    </p>
                                    <h3><a href="~/gallery/GBU%20Computer%20Science%20..png">Computer Science</a></h3>
                                    <p>Great-Great-Great-Great-Great+ Granddaughter of The Founder, Professor Brooks has been the head of the computer science department for 30 years and has been awarded the Turing Prize 3 times, twice in a row. Aside from teaching, she has founded Macrosoft which is a close competitor to Microsoft.</p>
                                    <p><a href="../home/apply" class="btn btn-primary">Apply now</a></p>
                                </div>
                            </div>


                            <div class="col-md-3 course ftco-animate">
                                <div class="img" style="background-image: url(../gallery/GBU%20Culinary%20..png);"></div>
                                <div class="text pt-4">
                                    <p class="meta d-flex">
                                        <span><i class="icon-user mr-2"></i>Mr.Jordan Ramzee</span>
                                        <span><i class="icon-table mr-2"></i>25 seats</span>
                                        <span><i class="icon-calendar mr-2"></i>4 Years</span>
                                    </p>
                                    <h3><a href="~/gallery/GBU%20Culinary%20..png">Culinary Program</a></h3>
                                    <p>A world-renowned chef known for his mouth watering dishes and incredibly kind heart, Chef Ramsee has been the head of our Culinary Program for 20 years. He is the star of his own TV show, “Kitchen Heaven” where he uses his gentle, soft spoken approach to transform failing restaurants into a 5 star dining experience! </p>
                                    <p><a href="../home/apply" class="btn btn-primary">Apply now</a></p>
                                </div>
                            </div>





                            <div class="col-md-3 course ftco-animate">
                                <div class="img" style="background-image: url(../gallery/Accounting%20Pic.png);"></div>
                                <div class="text pt-4">
                                    <p class="meta d-flex">
                                        <span><i class="icon-user mr-2"></i>Mr.Bob Monopoly</span>
                                        <span><i class="icon-table mr-2"></i>25 seats</span>
                                        <span><i class="icon-calendar mr-2"></i>4 Years</span>
                                    </p>
                                    <h3><a href="~/gallery/GBU%20Accounting%20..png">Accounting</a></h3>
                                    <p>Professor Monopoly has been the head of the Accounting Department for 15 years, as well as serving as the head of the Accountancy Board of Ohio. He does freelance accounting for Apple, Amazon, Microsoft, and Macrosoft. He is the heir to the Monopoly board game fortune.</p>
                                    <p><a href="../home/apply" class="btn btn-primary">Apply now</a></p>
                                </div>
                            </div>




                            <div class="col-md-3 course ftco-animate">
                                <div class="img" style="background-image: url(../gallery//Business%20Program.png);"></div>
                                <div class="text pt-4">
                                    <p class="meta d-flex">
                                        <span><i class="icon-user mr-2"></i>Ms.Jane Wall-Street</span>
                                        <span><i class="icon-table mr-2"></i>25 seats</span>
                                        <span><i class="icon-calendar mr-2"></i>4 Years</span>
                                    </p>
                                    <h3><a href="~/gallery//Business%20Program.png">Business Program</a></h3>
                                    <p>Professor Wall-Street has been the head of our Business Program for 10 years but has made great strides in the field of business including initiating a merger between Microsoft and Macrosoft. Before being appointed head of the business program, her parents John Wall and Mary Street shared the position as co-department heads.</p>
                                    <p><a href="../home/apply" class="btn btn-primary">Apply now</a></p>
                                </div>
                            </div>



                            <div class="col-md-3 course ftco-animate" id="page2">
                                <div class="img" style="background-image: url(../gallery/GBU%20Criminal%20Justice.png);"></div>
                                <div class="text pt-4">
                                    <p class="meta d-flex">
                                        <span><i class="icon-user mr-2"></i>Mr. Tonald Drump</span>
                                        <span><i class="icon-table mr-2"></i>25 seats</span>
                                        <span><i class="icon-calendar mr-2"></i>4 Years</span>
                                    </p>

                                    <h3><a href="~/gallery/GBU%20Criminal%20Justice.png">Criminal Justice </a></h3>
                                    <p>
                                        Want to learn how to catch the bad guys? Mr. Tonald Drump has
                                        been leading the GBU Criminal Justice Program since it's creation
                                        back in 2007! Students who have completed the program and
                                        continued on include Dr. Gregory House, Spencer Reid & David Rossi.
                                        This program is absolutely outstanding!
                                    </p>
                                    <p><a href="../home/apply" class="btn btn-primary">Apply now</a></p>
                                </div>
                            </div>


                            <div class="col-md-3 course ftco-animate">
                                <div class="img" style="background-image: url(../gallery/GBU%20Marketing.png);"></div>
                                <div class="text pt-4">
                                    <p class="meta d-flex">
                                        <span><i class="icon-user mr-2"></i>Ms. Millicent Adultwoman</span>
                                        <span><i class="icon-table mr-2"></i>25 seats</span>
                                        <span><i class="icon-calendar mr-2"></i>4 Years</span>
                                    </p>
                                    <h3><a href="~/gallery/GBU%20Marketing.png">Marketing</a></h3>
                                    <p>
                                        Our Marketing Program was recognized as "astonishing" by infomercial
                                        legend Billy Mays (RIP)! He donated almost $1,000,000 of the money
                                        he earned from his Oxiclean commerical to GBU! The Marketing & Sales
                                        Department faculty have worked and taught for over 201 years combined!
                                    </p>
                                    <p><a href="../home/apply" class="btn btn-primary">Apply now</a></p>
                                </div>
                            </div>





                            <div class="col-md-3 course ftco-animate">
                                <div class="img" style="background-image: url(../gallery/GBU%20Spanish.png);"></div>
                                <div class="text pt-4">
                                    <p class="meta d-flex">
                                        <span><i class="icon-user mr-2"></i>Mr. and Mrs. Valdez</span>
                                        <span><i class="icon-table mr-2"></i>25 seats</span>
                                        <span><i class="icon-calendar mr-2"></i>4 Years</span>
                                    </p>
                                    <h3><a href="~/gallery/GBU%20Spanish.png">Spanish</a></h3>
                                    <p>
                                        Mr. & Mrs. Valdez were born in Spain and came to the US as young
                                        teens! They met in college at Harvard, where they both obtained
                                        a Doctorate in Spanish and fell in love! Five years later they landed jobs
                                        leading the Spanish Speaking major program together! Students have
                                        raved about how easy they make learning the language!
                                    </p>
                                    <p><a href="../home/apply" class="btn btn-primary">Apply now</a></p>
                                </div>
                            </div>




                            <div class="col-md-3 course ftco-animate">
                                <div class="img" style="        background-image: url(../gallery/GBU%20Mechanical%20Engineering.png);"></div>
                                <div class="text pt-4">
                                    <p class="meta d-flex">
                                        <span><i class="icon-user mr-2"></i>Mr. Tony Stark</span>
                                        <span><i class="icon-table mr-2"></i>25 seats</span>
                                        <span><i class="icon-calendar mr-2"></i>4 Years</span>
                                    </p>
                                    <h3><a href="~/gallery/GBU%20Mechanical%20Engineering.png">Mechanical Engineering</a></h3>
                                    <p>
                                        Mechanical Engineering is our newest major program here at GBU! We were
                                        so lucky enough to snag Mr. Stark and his associates to makeup our
                                        excellent faculty! Students are guranteed to have a bright future after
                                        the intense hands-on experience Mr. Stark provides his students! The
                                        career possibilties available upon graduation are endless!
                                    </p>
                                    <p><a href="../home/apply" class="btn btn-primary">Apply now</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- scroll down-->

        <div class="sections5">
            <div id="section05" class="demo">
                <a href="#footer"><span></span>Scroll</a>
            </div>

        </div>




        <!-- Footer -->
        <footer class="ftco-footer ftco-bg-dark ftco-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6 col-lg-3">
                        <div class="ftco-footer-widget mb-5">
                            <h2 class="ftco-heading-2">
                                Have a Question?

                                <p><a href="../home/faq" class="btn btn-success  btn-sm px-4 py-3 mt-3">Check Out Our F.A.Q Section!</a></p>
                            </h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li><span class="icon icon-map-marker"></span><span class="text">550 East Spring St.Columbus, OH 43215 (614) 287-5353</span></li>
                                    <li><a href="#"><span class="icon icon-phone"></span><span class="text">+1(614)287-5353</span></a></li>





                                    <li><a href="#"><span class="icon icon-envelope"></span><span class="text">information@gbu.edu</span></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="con">
                            <p>This page</p>
                            <h1 id="count">0</h1>
                            <p>views</p>


                            <script type="text/javascript" src="https://freehitcounters.org/count/5zra"></script><br>
                            <a href='https://www.stat-counter.org/'>Counters with Stats</a>
                            <script type='text/javascript' src='https://www.whomania.com/ctr?id=9dbd00cd97dc4382d2e450f0072e772b0b9e0b81'></script>

                            <!--

                        <a href='https://www.stat-counter.org/'>Counters with Stats</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=ebeac49b5a9290f36e59f227ef2bcddd2297f4a9'></script>
                    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/716357/t/10"></script>
                    -->



                        </div>







                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="ftco-footer-widget mb-5">
                            <h2 class="ftco-heading-2">Recent Blog</h2>
                            <div class="block-21 mb-4 d-flex">
                                <a class="blog-img mr-4" style="background-image: url(../img/image_1.jpg);"></a>
                                <div class="text">
                                    <h3 class="heading"><a href="#">Come check out the Georgia Brooks University blog for tips on surviving college and posts by our faculty and students!</a></h3>
                                    <div class="meta">
                                        <div><a href="#"><span class="icon-calendar"></span> June 22, 2020</a></div>
                                        <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                        <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-21 mb-5 d-flex">
                                <a class="blog-img mr-4" style="background-image: url(../img/image_2.jpg);"></a>
                                <div class="text">
                                    <h3 class="heading"><a href="#">Having a grandpa who invented a board game may seem like it’s all fun and games but it’s harder than it sounds.</a></h3>
                                    <div class="meta">
                                        <div><a href="#"><span class="icon-calendar"></span> June 23, 2020</a></div>
                                        <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                        <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- lINK -->
                    <div class="col-md-6 col-lg-3">
                        <div class="ftco-footer-widget mb-5 ml-md-4">
                            <h2 class="ftco-heading-2">Links</h2>
                            <ul class="list-unstyled">
                                <li><a href="../home/index"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                                <li><a href="../home/about"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                                <li><a href="../home/services"><span class="ion-ios-arrow-round-forward mr-2"></span>Services</a></li>
                                <li><a href="../home/academics"><span class="ion-ios-arrow-round-forward mr-2"></span>Departments</a></li>
                                <li><a href="../home/contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
                            </ul>
                        </div>
                    </div>



                    <!-- Subscribe -->
                    <div class="col-md-6 col-lg-3" id="footer">
                        <div class="ftco-footer-widget mb-5">
                            <h2 class="ftco-heading-2">Subscribe To Us!</h2>
                            <form action="#" class="subscribe-form">
                                <div class="form-group">
                                    <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                                    <input type="submit" value="Subscribe" class="form-control submit px-3">
                                </div>
                            </form>
                        </div>
                        <div class="ftco-footer-widget mb-5">
                            <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
                            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul>
                        </div>

                        <div class="container-fluid">
                            <!-- <iframe class="embed-responsive-item" src="..."></iframe> -->
                            <!--GBUniversity link -->

                            <iframe src="https://www.google.com/maps/d/embed?mid=1tTNgwQYFK68DlY8Y7zcX7xG6XDIE-B7t" width="90%" height="180"></iframe>


                        </div>


                        <!-- Down Arrow-->





                        <a href="#" class="to-top"><strong>Back to top</strong></a>


                    </div>


                    <!--Copyright -->

                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright &copy; All rights reserved | This website is made by Group B </p>

                    </div>


                </div>
            </div>
        </footer>



        <!-- loader -->
        <!-- Bootstrap (JQuery) -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

        <!-- Bootstrap Plugin (Popper.js) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <!-- Bootstrap (JavaScript) -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Position BackToTop button after cover image is scrolled up -->
        <script type="text/javascript" src="~/scripts/jquery.backtotop.js"></script>



        <!-- Make The Navigation Bar fixed on top once the header is scrolled up -->
        <script type="text/javascript" src="~/scripts/jquery.navbar-fix-top.js"></script>

        <!-- Position Sticky Social Bar after cover image is scrolled up -->
        <script type="text/javascript" src="~/scripts/jquery.sticky-social-bar.js"></script>





        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


        <!--Javascript Links -->
        <script src="~/js/scrollDown.js"></script>
        <script src="~/js/counter.js"></script>
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.easing.1.3.js"></script>
        <script src="~/js/jquery.waypoints.min.js"></script>
        <script src="~/js/jquery.stellar.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/aos.js"></script>
        <script src="~/js/jquery.animateNumber.min.js"></script>
        <script src="~/js/scrollax.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
        <script src="~/js/google-map.js"></script>
        <script src="~/js/main.js"></script>

    </body>
</html>





}
