@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = null;
}

@{

    <!DOCTYPE html>
    <!--
    Template Name: Capstone Project, Summer,2020
    Author: Group B

    -->
    <html lang="en">
    <head>

        <!-- Webpage Title -->
        <title>University B, Group Project</title>

        <!-- Meta Information -->
        <meta name="author" content="Group B">
        <meta name="description" content="University B, Group Project, Capstone Class">


        <!-- To ensure proper rendering and touch zooming in mobile phones -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CDN for Font Awesome Icons -->
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">

        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

        <!-- CDN for Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Fira+Code|Ubuntu:400,600|Dancing+Script:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

        <!-- Bootstrap (CSS) -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- "Animate" Plugin to get Animation (But animation will start as soon as page loads) -->
        <link rel="stylesheet" type="text/css" href="~/styles/animate.min.css">
        <!-- WOW Plugin to Start Animation on Scroll -->
        <script type="text/javascript" src="~/scripts/wow.min.js"></script>
        <!-- Start WOW() service -->
        <script type="text/javascript">new WOW().init();</script>

        <!-- External CSS Stylesheet -->
        <link href="~/styles/layout.css" rel="stylesheet" type="text/css">

        <link rel="icon" href="~/favicon.ico">

        <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
        <link rel="stylesheet" href="~/css/animate.css">

        <link rel="stylesheet" href="~/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/css/magnific-popup.css">
                                     
        <link rel="stylesheet" href="~/css/aos.css">
                                     
        <link rel="stylesheet" href="~/css/ionicons.min.css">
                                     
        <link rel="stylesheet" href="~/css/flaticon.css">
        <link rel="stylesheet" href="~/css/icomoon.css">
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/sstyle.css">
        <link rel="stylesheet" href="~/styles/styleCon.css">
    </head>








    <body>

        <!-- Additional Menu Link and Social Icons-->

        <div class="wrapper border" id="home">

            <div class="container">


                <nav class="navbar fixed-top navbar-expand-md  scrolling-navbar  p-3">

                    <div class="collapse navbar-collapse justify-content-center"
                         id="secondaryNavbar">

                        <!--Links(left side) -->

                        <ul class="navbar-nav">

                            <!--<img src="favicon2.ico" class ="img-fav" alt="University Logo">-->

                            <img src="~/gallery/Georgia3.PNG" class="img-fav" alt="University Logo">
                            <li class="nav-item active bg-danger ">
                                <a href="../home/index" class="nav-link">
                                    <p class="m-0"> <strong>Home</strong></p>

                                </a>


                            </li>


                            <!--about us-->

                            <li class="nav-item px-2">
                                <a href="../home/about" class="nav-link">
                                    <p class="m-0"> <strong>About GBU</strong></p>

                                </a>


                            </li>
                            <!--faq-->

                            <li class="nav-item px-2">
                                <a href="../home/faq" class="nav-link">
                                    <p class="m-0"> <strong>F.A.Q</strong></p>

                                </a>


                            </li>

                            <!--contact us  -->
                            <li class="nav-item px-2">
                                <a href="../home/contact" class="nav-link">
                                    <p class="m-0"> <strong>Contact Us</strong></p>

                                </a>


                            </li>




                        </ul>





                        <!--Social Icons (Right Side)-->

                        <ul class="d-flex social-icon">

                            <li>
                                <a href="https://www.facebook.com" title="facebook" target="_blank" class="faicon-facebook rounded-circle ">

                                    <i class="fab fa-facebook "> </i>


                                </a>
                            </li>


                            <li>
                                <a href="https://twitter.com/GroupBUniversi1" title="twitter" target="_blank" class="faicon-twitter rounded-circle">

                                    <i class="fab fa-twitter"> </i>


                                </a>
                            </li>

                            <li>
                                <a href="https://www.instagram.com/groupbuniversity" title="instagram" target="_blank" class="faicon-instagram rounded-circle">

                                    <i class="fab fa-instagram"> </i>


                                </a>
                            </li>

                            <li>
                                <a href="https://www.linkedin.com" title="linkedin" target="_blank" class="faicon-linkedin rounded-circle">

                                    <i class="fab fa-linkedin"> </i>


                                </a>
                            </li>

                            <li>
                                <a href="https://www.youtube.com" title="youtube" target="_blank" class="faicon-youtube rounded-circle">

                                    <i class="fab fa-youtube"> </i>


                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>

            </div>

        </div>

        <!--Header for Logo/text-->

        <div class="wrapper py-0 px-5 text-success bg-white" id="header">
            <header class="d-flex flex-row justify-content-between">



                <a class="navbar-brand" href="#">
                    <img src="~/gallery/Georgia3.PNG" class="img-fluid" alt="University Logo">
                </a>



                <div class="call-to-action">
                    <a id="header-call-to-action" class="cap-button" href="../home/Apply" title="Apply" target="_blank">Apply</a>
                </div>
            </header>


        </div>



        <!--Main Navigation Bar(menu Bar)-->

        <div class="wrapper">

            <nav class="navbar sticky-navbar navbar-expand-md navbar-dark scrolling-navbar bg-secondary p-0" id="mainNavbar">


                <!--Navbar Logo-->
                <!--Collapse Button to replace links below 992px wide-->

                <button class="navbar-toggler my-2 p-2 " type="button" data-toggle="collapse"
                        data-target="#mainNavbarContent">
                    <span class="navbar-toggler-icon bg-success"></span><strong>Menu</strong>

                </button>


                <!--
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                  </button>

                 -->
                <!--Navigation Links-->


                <div class="collapse navbar-collapse justify-content-around" id="mainNavbarContent">






                    <!--Align on Left-->

                    <ul class="navbar-nav ">

                        <li class="nav-item">
                            <a href="../home/index" class="nav-link px-3 active"><strong>HOME</strong><span class="sr-only">(current)</span></a>

                        </li>




                        <!--Link with DropDown -->


                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle px-3" id="navbarDropdpwn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <strong>
                                    Admissions
                                </strong>
                            </a>


                            <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdpwn">
                                <a href="../home/Apply" class="dropdown-item">Apply Online</a>
                                <a href="../home/FinancialAid" class="dropdown-item">Financial Aid</a>


                            </div>
                        </li>




                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle px-3" id="navbarDropdpwn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Academics</strong></a>


                            <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdpwn">

                                <!--                    <a href="#" class="dropdown-item">Courses</a>-->
                                <a href="../home/academics" class="dropdown-item">Academic Departments</a>
                                <a href="../home/services" class="dropdown-item">Student Services</a>

                            </div>
                        </li>



                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle px-3" id="navbarDropdpwn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>Campus Life</strong></a>


                            <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdpwn">
                                <a href="../home/athletics" class="dropdown-item">Athletics</a>
                                <a href="../home/events" class="dropdown-item">Events</a>


                            </div>
                        </li>


                        <li class="nav-item dropdown">
                            <a href="../home/about" class="nav-link dropdown-toggle px-3" id="navbarDropdpwn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>About Us</strong></a>


                            <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdpwn">
                                <a href="../home/about" class="dropdown-item">About GBU</a>

                            </div>
                        </li>


                    </ul>


                    <!--Align on Right-->

                    <li class="nav-item">
                        <a href="../home/login" class="nav-link bg-success text-white px-3" role="button" aria-haspopup="true" aria-expanded="false"><strong>Login</strong></a>

                    </li>

                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control  mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-info btn-lg my-2 my-sm-0" type="submit">Search</button>
                    </form>


                </div>




            </nav>

            <!-- scroll down-->

            <div class="sections10">
                <div id="section10" class="demo">
                    <a href="#Page2"><span></span>Scroll</a>
                </div>

            </div>


            <!--    service-section-->

            <div class="service-section">

                <div class="inner-width">

                    <h1 class="section-title">Georgia Brooks University Student Services</h1>

                    <div class="border"></div>
                    <div class="services-container">

                        <!--               1-->
                        <div class="service-box">

                            <div class="services-icon">
                                <i class='far fa-question-circle' style='font-size:48px;color:red'></i>


                            </div>
                            <div class="services-title">Get Help</div>
                            <div class="service-desc">


                                <dl>
                                    <dt>Student Central</dt>

                                    <dd>Student Central is here for guidance and assistance you need to be a successful student. The Student Services Specialists at Student Central are well versed in every area of GBUniversity campuses and will work closely with you to find answers and connect you to the resources you need.</dd>

                                    <dt>IT Support Centers</dt>

                                    <dd>The Information Technology (IT) department provides technology resources and support for the campus community.  If you need assistance with setting up or using your student/employee email account, using the GBUniversity wireless internet, CougarWeb, Blackboard, or other campus technology, please contact us.</dd>

                                    <dt>Telephone Information Center</dt>

                                    <dd>
                                        The Telephone Information Center (TIC) answers questions related to Admissions, Office of the Registrar, Advising, Financial Aid, Cashiers, the Bookstore, and a whole lot more! If there is anything you need to know and you aren't sure who to ask, the TIC Specialists will help you find the answers and resources you need.  We look forward to your call!

                                    </dd>


                                </dl>

                            </div>

                        </div>

                        <!--               2-->

                        <div class="service-box">

                            <div class="services-icon">
                                <i class="fas fa-book-open " style="font-size:44px;color:red"></i>


                            </div>
                            <div class="services-title">Academic Support</div>
                            <div class="service-desc">

                                <dl>
                                    <dt>Academic Calendar</dt>

                                    <dd>This is the Academic Calendar, which includes dates, deadlines, fee payment deadlines, holidays and other school closing dates.<a href="~/Academic%20Calendar111.docx">Link Here</a></dd>



                                    <dt>Library</dt>
                                    <dd>
                                        During the Coronavirus outbreak, the Library is offering Virtual Services.
                                        The GBUniversity Library buildings are closed. All physical lending is suspended through the library and OhioLink, digital resources are still available.

                                    </dd>

                                    <dt>Tutoring</dt>
                                    <dd>
                                        Tutoring is provided free of charge to current GBUniversity students. NetTutor tutoring is also available 24-7.

                                    </dd>


                                    <dt>Writing Center</dt>
                                    <dd>
                                        Our tutors, all experienced writers and writing tutors, can work with you on a variety of projects, including essays, assignments, business letters, résumés,
                                        lab reports, personal correspondences, scholarships, and spplications.

                                    </dd>


                                </dl>

                            </div>

                        </div>
                        <!--               3-->
                        <div class="service-box">

                            <div class="services-icon">
                                <i class="fa fa-search" style="font-size:48px;color:red"></i>


                            </div>
                            <div class="services-title">Find Classes & Register</div>
                            <div class="service-desc">

                                <dl>
                                    <dt>Academic Advisors</dt>

                                    <dd>Academic Advising at GB University helps students develop their schedules and academic plans.</dd>


                                    <dt>Graduation Calculator</dt>

                                    <dd>This calculator will show your projected graduation date based on your major, the courses you’ve already taken, whether you attend full time or part time, and how many hours you plan to take each semester. </dd>

                                    <dt>Register for Classes</dt>
                                    <dd>
                                        Be sure to register for classes before they start! GBUinersity does not allow late registration, but we do offer courses that begin later in the semester.

                                    </dd>

                                    <dt>My Academic Plan and Degree Audit</dt>
                                    <dd>The Degree Audit allows students to see how completed and in-progress courses apply toward a degree or certificate, as well as what courses are still needed for graduation.</dd>


                                    <dt>College Credit Plus</dt>

                                    <dd>
                                        Through the College Credit Plus (CCP) Program at GBUnivesity, students in grades 7-12 can take GBUnivesity, classes and earn both high
                                        <div id="Page2"></div> school credit to satisfy graduation requirements, and college credit that will be on their GBUnivesity transcript.

                                </dl>

                            </div>

                        </div>


                    </div>

                </div>

                `
            </div>

            <!-- scroll down-->

            <div class="sections10">
                <div id="section10" class="demo">
                    <a href="#footer"><span></span>Scroll</a>
                </div>

            </div>


            <!--    service-section-->

            <div class="service-section">
                <div class="inner-width">

                    <h1 class="section-title">Georgia Brooks University Student Services</h1>

                    <div class="border"></div>
                    <div class="services-container">

                        <!--               4-->


                        <div class="service-box">

                            <div class="services-icon">
                                <i class='fas fa-map-marker-alt' style='font-size:48px;color:red'></i>


                            </div>
                            <div class="services-title">Locations & Parking</div>
                            <div class="service-desc">

                                <dl>
                                    <dt>Locations</dt>

                                    <dd>GBUniversity offers convenient access to classes and college services at its locations across Central Ohio. Whether you visit one of our two campuses or a Regional Learning Center, you’ll encounter the same sense of community and support from faculty and staff committed to helping students succeed.</dd>


                                    <dt>Parking</dt>

                                    <dd>All lots managed by GBUniversity, including motorcycle parking, require purchased parking, and vehicle registration.</dd>

                                    <dt>Student Parking</dt>
                                    <dd>
                                        Students that park at GBUniversity while attending classes at the GBUniversity campus, plus any regional learning centers, must purchase parking each semester.  Students parking outside of designated student parking areas are subject to being ticketed or towed.

                                    </dd>


                                    <dt>Regional Learning Centers</dt>
                                    <dd>
                                        With a total of five campuses, GBU is everywhere it needs to be (and more)!  While Columbus is our main campus, we still offer a high quality education no matter what campus you attend. We are looking at expanding into neighboring states, so let us know if we should come to your town.

                                    </dd>

                                </dl>

                            </div>

                        </div>

                        <!--               5-->
                        <div class="service-box">

                            <div class="services-icon">
                                <i class='fas fa-piggy-bank' style='font-size:48px;color:red'></i>


                            </div>
                            <div class="services-title">Paying for College</div>
                            <div class="service-desc">

                                <dl>
                                    <dt>Affordability</dt>

                                    <dd>If you could pay 40-60% less for a house, car or any big-ticket item, you wouldn't hesitate. College is one of the biggest investments most people will ever make. Maximize your investment and minimize the cost of getting a bachelor's degree by starting at GBUniversity.</dd>


                                    <dt>Cashiers Office</dt>

                                    <dd>During the conronavirus outbreak, Cashiers and Student Accounting is serving students online and remotely.  Please call us at (614) 455 6789 or email us at GBUniversity@gmail.com. In-person appointments have been suspended temporarily. </dd>

                                    <dt>Payment Deadlines</dt>
                                    <dd>
                                        The fee payment deadline for Summer Semester 2020 is Monday, June 8, 2020.
                                        Drop for Non Payment of Tuition for Summer Semester 2020 will occur on Tuesday,  June 9, 2020 at 12:01 A.M.

                                    </dd>

                                    <dt>Scholarships</dt>
                                    <dd>Scholarships are a form of aid that assists students with paying for their education. Scholarships do not have to be repaid. Generally, scholarships are awarded to students with special qualifications, such as academic talent or financial need.</dd>


                                    <dt>Tuition & Fees</dt>
                                    <dd>
                                        At $4,888 a year for a full-time student, GBUniversity offers the lowest tuition in the region. Students who start here and transfer can save as much as 40-60% on the total cost of a bachelor’s degree. The College is also committed to helping students achieve their educational goals with financial aid and flexible payment options.

                                    </dd>

                                </dl>

                            </div>

                        </div>


                        <!--6-->



                        <div class="service-box">

                            <div class="services-icon">
                                <i class='fas fa-book-reader' style='font-size:48px;color:red'></i>


                            </div>
                            <div class="services-title">New Students</div>
                            <div class="service-desc">

                                <dl>
                                    <dt>Admissions</dt>

                                    <dd>Curious about admissions?  Call us at (614) 455 6789 or email us at GBUniversity@gmail.com or use our <a href="../home/contact">contact us</a> page. </dd>


                                    <dt>Get Started Guide</dt>

                                    <dd>Contact our wonderful advising team by calling us at (614) 455 6789, emailing us at GBUadvising@gmail.com or use our <a href="../home/contact">contact us</a> page</dd>

                                    <dt>International Students</dt>
                                    <dd>We here at GBU are always eager to share what we know while learning more about the world around us. Our international student support program has been praised by many for being one of the most supportive schools for international students in the United States.</dd>

                                    <dt>Orientation</dt>
                                    <dd>Orientation will be taking place virtually this year.  It's currently planned for September 1 at 10:00 and using the Microsoft Teams platform.  Join us to learn what you can expect from our wonderful school and see all the wonderful opportunities that we offer.</dd>


                                    <dt>Placement Testing</dt>
                                    <dd>Along with the ACT and SAT, GBU has its own placement tests to determine exactly where our students should start.  Interested in attending but worried about one of the tests? Get in touch with us and we'll help you get ready for it.  Just let us know at least two weeks in advance.</dd>

                                </dl>

                            </div>

                        </div>



                    </div>

                </div>



                <!-- Footer -->
                <footer class="ftco-footer ftco-bg-dark ftco-section">
                    <div class="container">
                        <div class="row mb-5">
                            <div class="col-md-6 col-lg-3">
                                <div class="ftco-footer-widget mb-5">
                                    <h2 class="ftco-heading-2">
                                        Have a Question?

                                        <p><a href="../home/faq" class="btn btn-success  btn-sm px-4 py-3 mt-3">Check Out Our F.A.Q Section!</a></p>
                                    </h2>
                                    <div class="block-23 mb-3">
                                        <ul>
                                            <li><span class="icon icon-map-marker"></span><span class="text">550 East Spring St.Columbus, OH 43215 (614) 287-5353</span></li>
                                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+1(614)287-5353</span></a></li>





                                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">information@gbu.edu</span></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="con">
                                    <p>This page</p>
                                    <h1 id="count">0</h1>
                                    <p>views</p>


                                    <script type="text/javascript" src="https://freehitcounters.org/count/5zra"></script><br>
                                    <a href='https://www.stat-counter.org/'>Counters with Stats</a>
                                    <script type='text/javascript' src='https://www.whomania.com/ctr?id=9dbd00cd97dc4382d2e450f0072e772b0b9e0b81'></script>

                                    <!--

                        <a href='https://www.stat-counter.org/'>Counters with Stats</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=ebeac49b5a9290f36e59f227ef2bcddd2297f4a9'></script>
                    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/716357/t/10"></script>
                    -->



                                </div>







                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="ftco-footer-widget mb-5">
                                    <h2 class="ftco-heading-2">Recent Blog</h2>
                                    <div class="block-21 mb-4 d-flex">
                                        <a class="blog-img mr-4" style="background-image: url(../img/image_1.jpg);"></a>
                                        <div class="text">
                                            <h3 class="heading"><a href="#">Come check out the Georgia Brooks University blog for tips on surviving college and posts by our faculty and students!</a></h3>
                                            <div class="meta">
                                                <div><a href="#"><span class="icon-calendar"></span> June 22, 2020</a></div>
                                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-21 mb-5 d-flex">
                                        <a class="blog-img mr-4" style="background-image: url(../img/image_2.jpg);"></a>
                                        <div class="text">
                                            <h3 class="heading"><a href="#">Having a grandpa who invented a board game may seem like it’s all fun and games but it’s harder than it sounds.</a></h3>
                                            <div class="meta">
                                                <div><a href="#"><span class="icon-calendar"></span> June 23, 2020</a></div>
                                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- lINK -->
                            <div class="col-md-6 col-lg-3">
                                <div class="ftco-footer-widget mb-5 ml-md-4">
                                    <h2 class="ftco-heading-2">Links</h2>
                                    <ul class="list-unstyled">
                                        <li><a href="../home/index"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                                        <li><a href="../home/about"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                                        <li><a href="../home/services"><span class="ion-ios-arrow-round-forward mr-2"></span>Services</a></li>
                                        <li><a href="../home/academics"><span class="ion-ios-arrow-round-forward mr-2"></span>Departments</a></li>
                                        <li><a href="../home/contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
                                    </ul>
                                </div>
                            </div>



                            <!-- Subscribe -->
                            <div class="col-md-6 col-lg-3" id="footer">
                                <div class="ftco-footer-widget mb-5">
                                    <h2 class="ftco-heading-2">Subscribe To Us!</h2>
                                    <form action="#" class="subscribe-form">
                                        <div class="form-group">
                                            <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                                            <input type="submit" value="Subscribe" class="form-control submit px-3">
                                        </div>
                                    </form>
                                </div>
                                <div class="ftco-footer-widget mb-5">
                                    <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
                                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                                    </ul>
                                </div>

                                <div class="container-fluid">
                                    <!-- <iframe class="embed-responsive-item" src="..."></iframe> -->
                                    <!--GBUniversity link -->

                                    <iframe src="https://www.google.com/maps/d/embed?mid=1tTNgwQYFK68DlY8Y7zcX7xG6XDIE-B7t" width="90%" height="180"></iframe>


                                </div>


                                <!-- Down Arrow-->





                                <a href="#" class="to-top"><strong>Back to top</strong></a>


                            </div>


                            <!--Copyright -->

                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p>Copyright &copy; All rights reserved | This website is made by Group B </p>

                            </div>


                        </div>
                    </div>
                </footer>
            </div>


            <!-- loader -->
            <!-- Bootstrap (JQuery) -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

            <!-- Bootstrap Plugin (Popper.js) -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

            <!-- Bootstrap (JavaScript) -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

            <!-- Position BackToTop button after cover image is scrolled up -->
            <script type="text/javascript" src="~/scripts/jquery.backtotop.js"></script>



            <!-- Make The Navigation Bar fixed on top once the header is scrolled up -->
            <script type="text/javascript" src="~/scripts/jquery.navbar-fix-top.js"></script>

            <!-- Position Sticky Social Bar after cover image is scrolled up -->
            <script type="text/javascript" src="~/scripts/jquery.sticky-social-bar.js"></script>





            <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


            <!--Javascript Links -->
            <script src="~/js/scrollDown.js"></script>
            <script src="~/js/counter.js"></script>
            <script src="~/js/jquery.min.js"></script>
            <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
            <script src="~/js/popper.min.js"></script>
            <script src="~/js/bootstrap.min.js"></script>
            <script src="~/js/jquery.easing.1.3.js"></script>
            <script src="~/js/jquery.waypoints.min.js"></script>
            <script src="~/js/jquery.stellar.min.js"></script>
            <script src="~/js/owl.carousel.min.js"></script>
            <script src="~/js/jquery.magnific-popup.min.js"></script>
            <script src="~/js/aos.js"></script>
            <script src="~/js/jquery.animateNumber.min.js"></script>
            <script src="~/js/scrollax.min.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
            <script src="~/js/google-map.js"></script>
            <script src="~/js/main.js"></script>
        </div>
    </body>
</html>





}
